/* To Do: Add specific styles for spacing, width, margins, buttons, cards, form, chips, dropdown for the section "Questions Employers often ask me"  */

/* Logo Text
.portfolio-header .logo {
  text-decoration: none;
}

.logo-text {
  font-family: var(--font-sacramento);
  margin: 0;
}

/* Nav List  */
/* .nav-list a {
  text-decoration: none;
  color: var(--heading-color-dark);
  font-size: small;
}

.nav-list a:hover {
  color: var(--button-color-primary);
  font-size: small; */

/* Accordion  */

/* Make accordion blend with your theme */
.accordion-button {
  font-family: var(--font-inter);
  color: var(--heading-color-dark);
}
.accordion-button:not(.collapsed) {
  background-color: var(--button-color-secondary);
  color: var(--text-color-dark);
}
.accordion-body {
  font-family: var(--font-lora);
}
