/* Portfolio Website Layout */

.page-container {
  width: 80%; /* 80% of the width of its parent element i.e. <body>*/
  margin: 2% auto;
}

nav {
  width: 100%;
}

nav h1 {
  margin-top: 0;
  margin-bottom: 0;
}
