/* components.css */
.navbar .nav-link {
  color: var(--heading-color-dark);
  font-family: var(--font-inter);
}

.navbar .nav-link:hover {
  color: var(--button-color-primary);
}

.navbar-brand {
  font-family: var(--font-sacramento);
  font-size: 2rem;
  color: var(--heading-color-dark);
}
